.playlist-modal-wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist-modal {
  width: 22rem;
  background-color: var(--zinc);
  border-radius: 10px;
}

.playlist-close {
  background-color: inherit;
}

.playlist-option:hover {
  background-color: var(--neutral-300);
}

.playlist-add-icon {
  margin-left: 1.25rem;
  margin-right: 0.5rem;
}
