.home {
  display: grid;
  grid-template-areas: "header" "chips" "video-list";
  align-items: start;
}

.show-sidebar {
  height: 100vh;
  overflow: hidden;
}

/* larger than 800px */
@media (min-width: 50rem) {
  .home {
    grid-template-columns: 14rem 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header header"
      "sidebar chips"
      "sidebar video-list";
  }

  .show-sidebar {
    overflow: auto;
  }
}
