.video {
  background-color: var(--neutral-300);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.video:hover {
  background-color: var(--neutral-200);
}

.video__thumbnail {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.video__creator,
.video__info {
  font-size: 0.85rem;
}

.video__creator:hover {
  font-weight: 500;
}

.dialog-wrapper {
  position: relative;
  z-index: 5;
}

@media (min-width: 50rem) {
  .more-icon {
    visibility: hidden;
  }

  .video:hover .more-icon {
    visibility: visible;
  }

  .more-icon-clicked {
    visibility: visible;
  }
}
