.header {
  position: sticky;
  top: 0;
  background: var(--zinc);

  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
