:root {
  --bg-color: #f9fafb;
  --font-color: #000;
  --white: #fff;
  --black: #0d0d0d;
  --zinc: #a1a1aa;
  --zinc-light: #d4d4d8;
  --primary: #6f00ed;
  --secondary: #433df2;

  --primary-light: #9233ff;
  --primary-extra-light: #9233ff4d;

  --secondary-light: #544ff3;
  --secondary-extra-light: #544ff360;

  --neutral-300: #d4d4d4;
  --neutral-200: #e5e5e5;

  /* color for code snippets */
  --white-code: #ffffffcc;
  --blue-code: #12b0e8;
  --yellow-code: #f4ce2ccc;

  --red: #e21717;
  --yellow: #ddd101;
  --green: #3dbe29;
  --blue: #1d4ed8;
  --grey: #474747;

  --btn-bg-default: #3b3b3b;
  --btn-hover-bg-default: #424242;

  --card-bg: #171717;
  --overlay: rgba(0, 0, 0, 0.5);

  --info: var(--blue-code);
  --info-bg: #12b0e812;
  --success: var(--green);
  --success-bg: #3dbe2919;
  --warning: var(--yellow);
  --warning-bg: #ddd10111;
  --error: #ff0000;
  --error-bg: #ff00000d;

  font-size: 75%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.width-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-inherit {
  background-color: inherit;
}

.border-top-grey {
  border-top: 1px solid var(--grey);
}

.container {
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  color: var(--font-color);
}

.btn--primary {
  color: var(--white);
}

.btn--link:hover {
  background-color: inherit;
  text-decoration: underline;
}

.min-height-100 {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.stop-scroll {
  position: fixed;
  overflow-y: scroll;
}

/* larger than 480px */
@media only screen and (min-width: 30em) {
  :root {
    font-size: 90%;
  }
}

/* larger than 768px */
@media only screen and (min-width: 48em) {
  :root {
    font-size: 100%;
  }
}

/* larger than 1536px */
@media only screen and (min-width: 96em) {
  :root {
    font-size: 120%;
  }
}
